/* Used for theme toggling */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* 
    Uncomment the line below if you want to use the background providede by the theme you choose.
    You will also need to remobve the bg classes for the .shiki class.
  */
  /* background-color: var(--shiki-dark-bg) !important; */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
/* Base styles for all code blocks thruout the app */
code {
  counter-reset: codeStep;
  counter-increment: codeStep 0;
  direction: ltr;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  @apply hyphens-none whitespace-pre-wrap ligatures-normal;
}
/* Highlighted code blocks */
.shiki {
  @apply relative overflow-auto whitespace-pre rounded border border-main !bg-white py-6 focus:-outline-offset-1 dark:border-main-dark dark:!bg-neutral-900;
}

.line-numbers .line::before {
  content: counter(codeStep);
  counter-increment: codeStep;
  font-variant-numeric: tabular-nums;
  @apply inline-block w-6 text-left text-text-body dark:text-text-body-dark;
}
/* For snippet */
.snippet {
  @apply relative my-4 flex w-full max-w-[500px] flex-row items-stretch overflow-hidden rounded border border-main dark:border-main-dark;
}
.snippet .shiki {
  @apply w-full rounded-none border-none p-4;
}
.snippet > pre > code .line::before,
.commands > pre > code .line::before {
  @apply mr-4 inline-block w-fit text-center text-text-body content-['$'] dark:text-text-body-dark;
}
.snippet pre > code .line {
  @apply whitespace-pre p-0 pr-10;
}
/* For regular code blocks */
pre > code .line {
  @apply relative inline-block w-full px-6;
}
pre > code {
  @apply block w-full;
}
/* For highlighted lines */
.diff.remove {
  @apply bg-red-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-red-600 after:content-['-'];
}
.diff.add {
  @apply bg-green-600/20 after:absolute after:left-2 after:top-1/2 after:-translate-y-1/2 after:text-green-600 after:content-['+'];
}
.highlighted {
  @apply bg-primary-600/20 after:absolute after:left-0 after:h-full after:w-[2px] after:bg-primary-600;
}
/* Inline code */
code:not(pre code, .command) {
  @apply rounded bg-primary-300 px-0.5 text-primary-900 dark:bg-primary-950 dark:text-primary-300;
}
.commands > pre,
.commandsCode pre {
  @apply m-0 rounded-none border-none py-4;
}

/* Styling page components */

/* Table */
#pageContainer table thead {
  @apply bg-neutral-200/40 dark:bg-neutral-800/50;
}

#pageContainer table th {
  @apply border-b p-4 pb-3 pl-8 text-left font-medium text-neutral-800 dark:border-neutral-700/50 dark:text-neutral-200;
}

#pageContainer table td {
  @apply border-b border-main p-4 pl-8 text-neutral-600 dark:border-main-dark dark:text-neutral-400;
}

/* Lists */
#pageContainer
  ul:not(
    ul.tree,
    .commands ul,
    .collapsible-details ul,
    .collapsible-details ol,
    .demo ul
  ),
#pageContainer ol:not(.steps) {
  @apply my-5 list-outside list-none pl-0 ps-6;
}

#pageContainer ul:not(.tree, .commands, .demo) li {
  @apply relative list-none ps-1;
}

#pageContainer ul:not(.tree, .commands ul, .demo ul) > li::before {
  @apply absolute -left-[1.25rem] top-[12px] h-0.5 w-3 rounded-full bg-neutral-300 content-[''] dark:bg-neutral-700;
}

#pageContainer ol:not(.steps) > li {
  @apply list-decimal;
}

/* TaskList */
#pageContainer .task-list-item {
  @apply flex items-center gap-2;
}
#pageContainer .task-list-item input[type='checkbox'] {
  @apply relative size-[1.15rem] appearance-none rounded border border-neutral-300 after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:text-sm after:font-bold after:text-primary-800 checked:bg-primary-300 checked:after:content-["✓"] dark:border-neutral-700 dark:checked:bg-primary-400;
}

/* API references */
.http-keyword {
  @apply mr-1 rounded border px-2 py-0.5;
}
.http-keyword[data-keyword='GET'] {
  @apply border-blue-700 bg-blue-600/20 text-blue-900 dark:text-blue-100;
}
.http-keyword[data-keyword='POST'] {
  @apply border-green-700 bg-green-600/20 text-green-900 dark:text-green-100;
}
.http-keyword[data-keyword='PUT'] {
  @apply border-yellow-700 bg-yellow-600/20 text-yellow-900 dark:text-yellow-100;
}
.http-keyword[data-keyword='DELETE'] {
  @apply border-red-700 bg-red-600/20 text-red-900 dark:text-red-100;
}
.http-keyword[data-keyword='PATCH'] {
  @apply border-orange-700 bg-orange-600/20 text-orange-900 dark:text-orange-100;
}
.http-keyword[data-keyword='OPTIONS'] {
  @apply border-gray-700 bg-gray-600/20 text-gray-900 dark:text-gray-100;
}
.http-keyword[data-keyword='HEAD'] {
  @apply border-indigo-700 bg-indigo-600/20 text-indigo-900 dark:text-indigo-100;
}
.http-keyword[data-keyword='CONNECT'] {
  @apply border-purple-700 bg-purple-600/20 text-purple-900 dark:text-purple-100;
}
.http-keyword[data-keyword='TRACE'] {
  @apply border-teal-700 bg-teal-600/20 text-teal-900 dark:text-teal-100;
}
