/* USER CONFIG : Code blocks colors */
:root {
  /* Use the R, G, B format for the colors */
  --line-removed-bg: 224, 108, 117;
  --line-removed-opacity: 0.3;
  --line-added-bg: 152, 195, 121;
  --line-added-opacity: 0.3;
  --line-highlighted-bg: 255, 255, 255;
  --line-highlighted-opacity: 0.1;
  /* The background color of the curent theme's code block */
  --inline-code-bg: #282c34;
}

code {
  counter-reset: step;
  counter-increment: step 0;
  direction: ltr;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  @apply text-shadow-code ligatures-normal hyphens-none whitespace-pre-wrap;
}

.shiki {
  @apply rounded-md relative mb-4 py-4;
}
.remark-code-container {
  @apply mt-4;
}

/* File name */
.remark-code-title {
  @apply text-base font-medium bg-neutral-200 dark:bg-neutral-800 text-neutral-700 dark:text-neutral-200 rounded-t-md px-3 py-1 flex flex-row gap-4 items-center;
}
.remark-code-title ~ .shiki {
  @apply rounded-t-none;
}

.copy-code-button {
  @apply h-[2.5rem] bg-neutral-950 text-neutral-100 rounded-full flex items-center justify-center absolute transition hover:scale-105 active:scale-90 focus:outline-none right-1.5 top-1.5 bottom-1 p-1 aspect-square;
}

pre.line-numbers > code .line::before {
  content: counter(step);
  counter-increment: step;
  font-variant-numeric: tabular-nums;
  @apply inline-block text-right mr-2 -ml-2 text-neutral-500 dark:text-neutral-400 w-6;
}
pre > code .line {
  @apply w-full inline-block px-4;
}
pre > code {
  @apply block w-full;
}
code .line {
  @apply w-full inline-block;
}
/* For highlighted lines */
.diff.remove {
  background-color: rgba(var(--line-removed-bg), var(--line-removed-opacity));
}
.diff.add {
  background-color: rgba(var(--line-added-bg), var(--line-added-opacity));
}
code .line.diff::before {
  counter-increment: step;
  font-variant-numeric: tabular-nums;
  @apply inline-block text-right mr-2 w-6;
}
code .line.diff.add::before {
  content: '+';
  color: rgb(var(--line-added-bg));
}
code .line.diff.remove::before {
  content: '-';
  color: rgb(var(--line-removed-bg));
}
.highlighted {
  background-color: rgba(var(--line-highlighted-bg), var(--line-highlighted-opacity));
}
/* Inline code */
code:not(pre code, .command) {
  @apply rounded-md bg-primary-300 text-primary-900 dark:bg-primary-950 dark:text-primary-300 px-0.5 text-base text-shadow-none;
}
.commands > pre {
  @apply m-0 rounded-none;
}

/* Styling page components */

/* Image */
.page-image {
  @apply rounded-md;
}
.page-image ~ figcaption {
  @apply text-sm text-neutral-600 dark:text-neutral-400 text-center block mb-2;
}
#pageContainer figure:has(> .page-image) {
  @apply w-fit;
}

/* Table */
#pageContainer > table {
  @apply w-full border-collapse table-fixed text-sm my-4 rounded-md overflow-hidden text-left;
}

#pageContainer > table thead {
  @apply bg-neutral-200/40 dark:bg-neutral-800/50;
}

#pageContainer > table th {
  @apply border-b dark:border-neutral-700/50 font-medium p-4 pl-8 pb-3 text-neutral-800 dark:text-neutral-200 text-left;
}

#pageContainer > table td {
  @apply border-b border-neutral-300/50 dark:border-neutral-700/50 p-4 pl-8 text-neutral-600 dark:text-neutral-400;
}

/* Lists */
#pageContainer ul:not(.tree ul),
#pageContainer ol {
  @apply pl-0 my-5 ps-6 list-outside list-none;
}

#pageContainer li:not(.tree ul li) {
  @apply ps-1 relative;
}

#pageContainer ul:not(.tree ul) > li::before {
  @apply rounded-full bg-neutral-300 dark:bg-neutral-700 content-[''] w-3 h-0.5 absolute top-[12px] -left-[1.25rem];
}

#pageContainer ol > li {
  @apply list-decimal;
}

#pageContainer blockquote {
  @apply border-l-4 border-neutral-300/50 dark:border-neutral-700/50 pl-4 my-6;
}
/* TaskList */
#pageContainer .task-list-item {
  @apply flex items-center gap-2;
}
#pageContainer .task-list-item input[type='checkbox'] {
  @apply size-[1.15rem] border border-neutral-300 relative dark:border-neutral-700 appearance-none rounded-md checked:bg-primary-300 after:text-primary-800 dark:checked:bg-primary-400 checked:after:content-["✓"] after:absolute after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 after:text-sm after:font-bold;
}
